{% extends "base.html" %}

{% block title %}Create expense | Splitsilly{% endblock %}

{% block head %}
<style>
.form-row:not(:first-child) {
    margin: 1rem 0 0;
}

legend + .form-row.form-row {
    margin-top: 0;
}

#splitFieldset {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#splitFieldset .split-field-container {
    display: flex;
    gap: 4px;
}

#splitFieldset .split-field-container input {
    width: 1px;
    flex: 1 1 0;
    max-width: 10rem;
}
</style>
{% endblock %}

{% block body %}
<h1>{% if expense %}Update{% else %}Create{% endif %} expense</h1>
{% if expense %}
<a href="{{ expense.get_absolute_url }}">Cancel</a>
{% else %}
<a href="{{ group.get_absolute_url }}">Cancel</a>
{% endif %}

<form id="expenseForm" method="POST" action="">
    {% csrf_token %}

    <div class="form-row">
        {{ form.non_field_errors }}
    </div>

    {{ form.group.as_hidden }}

    <div class="form-row">
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>

    <div class="form-row">
        {{ form.date.errors }}
        {{ form.date.label_tag }}
        {{ form.date }}
    </div>

    <div class="form-row">
        {{ form.payer.errors }}
        {{ form.payer.label_tag }}
        {{ form.payer }}
    </div>

    <div class="form-row">
        {{ form.amount.errors }}
        {{ form.amount.label_tag }}
        {{ form.amount }}
    </div>

    <label class="form-row">
        <input type="checkbox" id="toggleSplitEqually" /> Split equally
    </label>

    <div class="form-row">
        {{ form.type.errors }}
        {{ form.type.label_tag }}
        {{ form.type }}
    </div>

    <fieldset class="form-row" id="splitFieldset">
        <legend>Split</legend>

        <label class="form-row">
            <input type="checkbox" id="toggleAdjustments" /> Enable adjustments
        </label>

        {% for field in form.split_fields %}
            <div class="form-row split-field-container">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <button id="evalButton" hidden="hidden" type="button">Evil</button>
    </fieldset>

    <div class="form-row">
        <input type="submit" value="Save" />
    </div>
</form>

<script>
const form = expenseForm;
const typeField = form.type;
const amountField = form.elements.amount;
const splitFields = [...form.elements].filter(el => el.name.startsWith("split_"));
const EXACT = "1",
    PERCENTAGE = "2",
    SHARES = "3";

function updateRemaining() {
    let el = document.getElementById("remaining-amount");
    if (typeField.value !== EXACT && typeField.value !== PERCENTAGE) {
        if (el) el.remove();
        return;
    }
    if (!el) {
        el = document.createElement("p");
        el.id = "remaining-amount";
        splitFieldset.prepend(el);
    }

    const isDollars = typeField.value === EXACT;

    if (isDollars) {
        const remaining = parseFloat(amountField.value || 0) - splitFields.reduce((acc, el) => acc + parseFloat(el.value || 0), 0);
        el.innerText = `$${remaining.toFixed(2)} remaining`;
    } else {
        const remaining = 100 - splitFields.reduce((acc, el) => acc + Math.floor(parseFloat(el.value || 0)), 0);
        el.innerText = `${remaining}% remaining`;
    }
}

function hideAdjustmentsForExact() {
    toggleAdjustments.parentElement.hidden = typeField.value === EXACT;

    const adjustmentsEnabled = typeField.value !== EXACT && toggleAdjustments.checked;
    for (const field of splitFields) {
        if (field.name.endsWith("_adjustment")) {
            if ((field.hidden = field.previousElementSibling.hidden = !adjustmentsEnabled)) {
                field.value = 0;
            }
        }
    }
}

function applySplitEqually() {
    if (toggleSplitEqually.checked) {
        splitFieldset.hidden = true;
        typeField.value = SHARES;
        typeField.closest(".form-row").hidden = true;
        for (const field of splitFields) {
            field.value = +field.name.endsWith("_split");
        }
    } else {
        splitFieldset.hidden = false;
        typeField.closest(".form-row").hidden = false;
    }
}

function runEval() {
    splitFields.forEach(field => field.value = field.value ? eval(field.value) : "");
}

function updateEvalButtonShow() {
    const showButton = splitFields.some(field => isNaN(field.value));
    evalButton.hidden = !showButton;
}

typeField.addEventListener("change", updateRemaining);
typeField.addEventListener("change", hideAdjustmentsForExact);
amountField.addEventListener("input", updateRemaining);
splitFields.forEach(field => field.addEventListener("input", updateRemaining));

splitFields.forEach(field => field.addEventListener("input", updateEvalButtonShow));
evalButton.onclick = runEval;

toggleAdjustments.checked = splitFields.some(field => field.name.endsWith("_adjustment") && parseFloat(field.value || 0) !== 0);
toggleAdjustments.addEventListener("change", hideAdjustmentsForExact);

toggleSplitEqually.checked = (
    splitFields.every(field => parseFloat(field.value || 0) === +field.name.endsWith("_split"))
    && typeField.value === SHARES
);
toggleSplitEqually.addEventListener("change", applySplitEqually);

updateRemaining();
hideAdjustmentsForExact();
applySplitEqually();
</script>
{% endblock %}
