{% extends "base.html" %}

{% block title %}Create expense | Splitsilly{% endblock %}

{% block head %}
<style>
.form-row:not(:first-child) {
    margin: 1rem 0 0;
}

legend + .form-row.form-row {
    margin-top: 0;
}

#splitFieldset {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#splitFieldset .split-field-container {
    display: flex;
    gap: 4px;
}

#splitFieldset .split-field-container input {
    width: 1px;
    flex: 1 1 0;
    max-width: 10rem;
}
</style>
{% endblock %}

{% block body %}
<h1>{% if expense %}Update{% else %}Create{% endif %} expense</h1>
{% if expense %}
<a href="{{ expense.get_absolute_url }}">Cancel</a>
{% else %}
<a href="{{ group.get_absolute_url }}">Cancel</a>
{% endif %}

<form id="expenseForm" method="POST" action="">
    {% csrf_token %}

    <div class="form-row">
        {{ form.non_field_errors }}
    </div>

    {{ form.group.as_hidden }}

    <div class="form-row">
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>

    <div class="form-row">
        {{ form.date.errors }}
        {{ form.date.label_tag }}
        {{ form.date }}
    </div>

    <div class="form-row">
        {{ form.payer.errors }}
        {{ form.payer.label_tag }}
        {{ form.payer }}
    </div>

    <div class="form-row">
        {{ form.amount.errors }}
        {{ form.amount.label_tag }}
        {{ form.amount }}
        {{ form.currency_symbol.errors }}
        {{ form.currency_symbol.label_tag }}
        {{ form.currency_symbol }}
    </div>

    <label class="form-row">
        <input type="checkbox" id="toggleSplitEqually" /> Split equally
    </label>

    <div class="form-row">
        {{ form.type.errors }}
        {{ form.type.label_tag }}
        {{ form.type }}
    </div>

    <fieldset class="form-row" id="splitFieldset">
        <legend>Split</legend>

        <label class="form-row">
            <input type="checkbox" id="toggleAdjustments" /> Enable adjustments
        </label>

        {% for field in form.split_fields %}
            <div class="form-row">
                {{ field.errors }}
                <div class="split-field-container">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            </div>
        {% endfor %}
    </fieldset>

    <div class="form-row">
        {{ form.exchange_rate.errors }}
        {{ form.exchange_rate.label_tag }}
        {{ form.exchange_rate }}
    </div>

    <div class="form-row">
        <input type="submit" value="Save" />
    </div>
</form>

<script type="module">
import * as expr from "/static/expr.js";

const form = expenseForm;
const typeField = form.type;
const amountField = form.elements.amount;
const currencySymbolField = form.elements.currency_symbol;
const splitFields = [...form.elements].filter(el => el.name.startsWith("split_"));
const EXACT = "1",
    PERCENTAGE = "2",
    SHARES = "3";

function evalFields() {
    for (const oldError of document.getElementsByClassName("eval-error")) {
        oldError.remove();
    }

    const results = [];
    for (const field of splitFields) {
        const fieldValue = field.value.trim() || "0";
        let evaled, error;
        try {
            evaled = expr.evaluate(fieldValue);
        } catch (e) {
            error = e.toString();
        }
        if (error) {
            const formRow = field.closest(".form-row");
            let errorlist = formRow?.querySelector(".errorlist");
            if (!errorlist) {
                errorlist = document.createElement("ul");
                errorlist.classList.add("errorlist");
                formRow?.prepend(errorlist);
            }
            const newError = document.createElement("li");
            newError.classList.add("eval-error");
            newError.innerText = error;
            errorlist.append(newError);
        }
        results.push(evaled ?? 0);
    }
    return results;
}

function updateRemaining() {
    let el = document.getElementById("remaining-amount");
    if (typeField.value !== EXACT && typeField.value !== PERCENTAGE) {
        if (el) el.remove();
        return;
    }
    if (!el) {
        el = document.createElement("p");
        el.id = "remaining-amount";
        splitFieldset.prepend(el);
    }

    const isExact = typeField.value === EXACT;

    if (isExact) {
        const currencySymbol = currencySymbolField.value || "$";
        const remaining = parseFloat(amountField.value || 0) - evalFields().reduce((acc, el) => acc + el, 0);
        el.innerText = `${currencySymbol}${remaining.toFixed(2)} remaining`;
    } else {
        const remaining = 100 - evalFields().reduce((acc, el) => acc + Math.floor(el), 0);
        el.innerText = `${remaining}% remaining`;
    }
}

function hideAdjustmentsForExact() {
    toggleAdjustments.parentElement.hidden = typeField.value === EXACT;

    const adjustmentsEnabled = typeField.value !== EXACT && toggleAdjustments.checked;
    for (const field of splitFields) {
        if (field.name.endsWith("_adjustment")) {
            if ((field.hidden = field.previousElementSibling.hidden = !adjustmentsEnabled)) {
                field.value = 0;
            }
        }
    }
}

function applySplitEqually() {
    if (toggleSplitEqually.checked) {
        splitFieldset.hidden = true;
        typeField.value = SHARES;
        typeField.closest(".form-row").hidden = true;
        for (const field of splitFields) {
            field.value = +field.name.endsWith("_split");
        }
    } else {
        splitFieldset.hidden = false;
        typeField.closest(".form-row").hidden = false;
    }
}

typeField.addEventListener("change", updateRemaining);
typeField.addEventListener("change", hideAdjustmentsForExact);
amountField.addEventListener("input", updateRemaining);
splitFields.forEach(field => field.addEventListener("change", updateRemaining));

toggleAdjustments.checked = splitFields.some(field => field.name.endsWith("_adjustment") && parseFloat(field.value || 0) !== 0);
toggleAdjustments.addEventListener("change", hideAdjustmentsForExact);

toggleSplitEqually.checked = (
    splitFields.every(field => parseFloat(field.value || 0) === +field.name.endsWith("_split"))
    && typeField.value === SHARES
);
toggleSplitEqually.addEventListener("change", applySplitEqually);

updateRemaining();
hideAdjustmentsForExact();
applySplitEqually();
</script>
{% endblock %}
