{% extends "base.html" %}

{% block title %}Group settings | {{ block.super }}{% endblock %}

{% block head %}
<style>
.settings-form > .form-row:not(:first-child) {
    margin: 1rem 0;
}
.settings-form input[type="checkbox"] {
    float: left;
    margin-right: 0.5rem;
}
</style>
{% endblock %}

{% block body %}
<h1>Group settings for {{ group.name }}</h1>

<form class="settings-form" action="" method="post">
    {% csrf_token %}

    <div class="form-row">
        {{ form.non_field_errors }}
    </div>

    <div class="form-row">
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>

    <div class="form-row">
        {{ form.simplify_debts.errors }}
        {{ form.simplify_debts }}
        {{ form.simplify_debts.label_tag }}
    </div>

    <table width="100%">
        <caption>Group members (<a href="{% url 'groups:invite' group.id %}">invite</a>)</caption>
        <thead>
            <tr>
                <th>Username</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for invite in pending_invites %}
                <tr>
                    <td>{{ invite.recipient }} (pending)</td>
                    <td></td>
                </tr>
            {% endfor %}
            {% for expensegroupuser in group.expensegroupuser_set.all %}
                <tr>
                    <td>{{ expensegroupuser.user.username }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="form-row">
        {{ form.users.errors }}
        {{ form.users.label_tag }}
        {{ form.users }}
    </div>

    <div class="form-row">
        <input type="submit" value="Save" />
    </div>
</form>
{% endblock %}
